In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    638 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 5.1 KB

In [15]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    638 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 5.1 KB

In [16]:
df = pd.read_csv("calendar.csv")
df.head(5)

       Date
0  1/1/2022
1  1/2/2022
2  1/3/2022
3  1/4/2022
4  1/5/2022

In [17]:
print(df.isnull().sum())
print(df.shape)

Date    0
dtype: int64
(638, 1)

In [18]:
df['Date'].nunique()

638

In [19]:
df.to_csv('Clean_calander.csv', index=False)