In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("data_dictionary.csv")
df.head(5)

      Table             Field                  Description
0  Products        Product_ID                   Product ID
1  Products      Product_Name                 Product name
2  Products  Product_Category             Product Category
3  Products      Product_Cost          Product cost ($USD)
4  Products     Product_Price  Product retail price ($USD)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Table        19 non-null     object
 1   Field        19 non-null     object
 2   Description  19 non-null     object
dtypes: object(3)
memory usage: 588.0+ bytes

In [3]:
print(df.isnull().sum())
print(df.shape)

Table          0
Field          0
Description    0
dtype: int64
(19, 3)

In [4]:
print("Table :",df['Table'].unique())
print("Field :" ,df['Field'].unique())
print("Description :",df['Description'].unique)

Table : ['Products' 'Inventory' 'Stores' 'Sales' 'Calendar']
Field : ['Product_ID' 'Product_Name' 'Product_Category' 'Product_Cost'
 'Product_Price' 'Store_ID' 'Stock_On_Hand' 'Store_Name' 'Store_City'
 'Store_Location' 'Store_Open_Date' 'Sale_ID' 'Date' 'Units']
Description : <bound method Series.unique of 0                                            Product ID
1                                          Product name
2                                      Product Category
3                                   Product cost ($USD)
4                           Product retail price ($USD)
5                                              Store ID
6                                            Product ID
7     Stock quantity of the product in the store (in...
8                                              Store ID
9                                            Store name
10            City in Mexico where the store is located
11      Location in the city where the store is located
12                       Date when the store was opened
13                                              Sale ID
14                              Date of the transaction
15                                             Store ID
16                                           Product ID
17                                           Units sold
18                                        Calendar date
Name: Description, dtype: object>

In [6]:
df.to_csv('Clean_data_dictionary.csv', index=False)